<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213271336861-fe01q55da9r46n6up6hdkd0knp1nk5cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213271336861-fe01q55da9r46n6up6hdkd0knp1nk5cn</string>
	<key>API_KEY</key>
	<string>AIzaSyACmklLkyBoCSJdEQ_IzbhJDjoGYlNuKDI</string>
	<key>GCM_SENDER_ID</key>
	<string>213271336861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.samuelebesoli.treninoo</string>
	<key>PROJECT_ID</key>
	<string>treninoo</string>
	<key>STORAGE_BUCKET</key>
	<string>treninoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213271336861:ios:53327da57d963b60b20174</string>
</dict>
</plist>